<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="/static/css/login.css" type="text/css">
  <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css" type="text/css">
</head>

<body>
  {% block body %} 
  {% if session['logged_in'] == True %}
    <p>You're logged in already!</p>
  {% elif session['logged_in'] != True %}
  <form action="/login" method="POST" class="form-horizontal">
    <div class="login">
      <div class="login-screen">

        <div class="app-title">
          <h1 class="text-success">HealthForge Patient API</h1>
        </div>

        <div class="login-form">

          <div class="control-group">
            <input type="text" class="login-field" value="" placeholder="Enter Username" name="username">
            <label class="login-field-icon fui-user" for="login-name"></label>
          </div>

          <div class="control-group">
            <input type="password" class="login-field" value="" placeholder="Enter Password" name="password">
            <label class="login-field-icon fui-lock" for="login-pass"></label>
          </div>

          <input type="submit" value="Login" class="btn btn-primary btn-large btn-block"><br>

        </div>
      </div>

      <!--If login attempt is failed-->
      {% if session['failed_login'] == True %}
        <br>
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          Incorrect login!
        </div>
      {% endif %}  

    </div>
  </form>

  {% endif %} 
  {% endblock %}
</body>

</html>