<!doctype html>
<html lang="en" ng-app="patientApp" ng-controller="patientController">

	<head>

		<meta charset="utf-8">
		<!--no need to explicitly use ng-bind-->
		<title>{{patientName}}</title>

		<!--Bootstrap CSS-->
		<link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.css">
		<link rel="stylesheet" href="/static/css/main.css">
		<link rel="stylesheet" href="/static/css/ng-table.css"> <!-- This is a modified version! -->

		<!--Angular JS-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-resource.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>

		<!--ng-Table-->
		<script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>

		<!--Angular Scripts-->
		<script src="/static/js/patientController.js"></script>

		<!--jQuery and Bootstrap Scripts-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

	</head>

	<body>

		<!--Nav Bar-->
		<nav class="navbar navbar-inverse">
			<h3 class="navbar-text" ng-bind="patientName"></h3>
		</nav>

		<div class="container page">

			<!--Removed view as controller didn't work in partial template-->
			<div id="content" class="container main">

				<div class="panel panel-info">

					<div class="panel-heading">
						<h3 class="panel-title">Patient Data</br></h3>
					</div>
					
					<div class="panel-body">

						<!--Patient Information-->
						<p class="text-info">Patient Information</p>
						<table class="table table-bordered table-condensed">
							<tr>
								<!--Applying class to first column sets the precedent for the entire table-->
								<td class="col-sm-4">Title</td>
								<td class="text-success" ng-bind="patient.prefix"></td>
							</tr>
							<tr>
								<td>First Name</td>
								<td class="text-success" ng-bind="patient.firstName"></td>
							</tr>
							<tr>
								<td>Last Name</td>
								<td class="text-success" ng-bind="patient.lastName"></td>
							</tr>
							<tr>
								<td>Gender</td>
								<td class="text-success" ng-bind="patient.gender === 'F' ? 'Female' : 'Male'"></td>
							</tr>
							<tr>
								<td>Date of Birth</td>
								<td class="text-success" ng-bind="patient.dateOfBirth | date: 'medium'"></td>
							</tr>	
							<tr>
								<td>Date of Death</td>
								<td class="text-success" ng-bind="patient.dateOfDeath ? patient.dateOfDeath : '-' | date: 'medium'"></td>
							</tr>
							<tr>
								<td>Address</td>
								<td class="text-success">
									<span ng-bind="patient.addresses[0].line1"></span></br>
									<span ng-bind="patient.addresses[0].line2"></span></br>
									<span ng-bind="patient.addresses[0].country"></span></br>
									<span ng-bind="patient.addresses[0].zipCode"></span></br>
								</td>
							</tr>
							<tr>
								<td>Home Telephone Number</td>
								<td class="text-success" ng-bind="patient.telecoms[0].value"></td>
							</tr>
							<tr>
								<td>PAS Number</td>
								<td class="text-success" ng-bind="patient.identifiers[0].value"></td>
							</tr>
							<tr>
								<td>NHS Number</td>
								<td class="text-success" ng-bind="patient.identifiers[1].value"></td>
							</tr>																																																																													
						</table>

						<!--Managing Organisation-->
						<p class="text-info">Managing Organisation</p>
						<table class="table table-bordered table-condensed">
							<tr>
								<td class="col-sm-4">Organisation Name</td>
								<td class="text-success" ng-bind="patient.managingOrganisation.name"></td>
							</tr>
							<tr>
								<td>Organisation Address</td>
								<td class="text-success">
									<span ng-bind="patient.managingOrganisation.address.line1"></span></br>
									<span ng-bind="patient.managingOrganisation.address.line2"></span></br>
									<span ng-bind="patient.managingOrganisation.address.line3"></span></br>
									<span ng-bind="patient.managingOrganisation.address.zipCode"></span></br>
								</td>
							</tr>
							<tr>
								<td>Telephone Number</td>
								<td class="text-success" ng-bind="patient.managingOrganisation.telecom.value"></td>
							</tr>																																																							
						</table>

						<!--Managing Practioner-->
						<p class="text-info">Managing Practioner</p>
						<table class="table table-bordered table-condensed">
							<tr>
								<td class="col-sm-4">Title</td>
								<td class="text-success" ng-bind="patient.managingPractioner.prefix"></td>
							</tr>
							<tr>
								<td>First Name</td>
								<td class="text-success" ng-bind="patient.managingPractioner.firstName"></td>
							</tr>
							<tr>
								<td>Last Name</td>
								<td class="text-success" ng-bind="patient.managingPractioner.lastName"></td>
							</tr>
							<tr>
								<td>Registered Body</td>
								<td class="text-success" ng-bind="patient.managingPractioner.identifier.codeSystem"></td>
							</tr>
							<tr>
								<td>Registration ID</td>
								<td class="text-success" ng-bind="patient.managingPractioner.identifier.value"></td>
							</tr>																																																																					
						</table>

					</div>
				</div>
				<!--End of User controller-->

			</div> 
			<!-- End of Main Content -->

			<hr>
		</div>

	</body>

</html>